<!-- Top Sidebar Nav -->
<div class="pb-14">
    <nav class="flex flex-col space-y-3">
        <h2 class="font-semibold text-sm text-gray-400 uppercase">
            Operations
        </h2>
        <a
            routerLink="home"
            routerLinkActive="router-link-active"
            class="flex flex-row items-center space-x-2 rounded-md -mx-3 px-2 py-2"
        >
            <span class="flex-shrink-0">
                <svg
                    class="w-8 h-8 text-gray-400 router-link-active-icon"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                    ></path>
                </svg>
            </span>
            <span
                class="flex-1 font-semibold text-base text-gray-600 router-link-active-text"
                >Home</span
            >
            <span
                class="flex-shrink-0 rounded-full py-1 w-9 bg-gray-200 text-center font-semibold text-xs text-gray-700 hidden"
            >
            </span>
        </a>
        <a
            routerLink="members"
            routerLinkActive="router-link-active"
            class="flex flex-row items-center space-x-2 rounded-md -mx-3 px-2 py-2"
        >
            <span class="flex-shrink-0">
                <svg
                    class="w-8 h-8 text-gray-400 router-link-active-icon"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"
                    ></path>
                </svg>
            </span>
            <span
                class="flex-1 font-semibold text-base text-gray-600 router-link-active-text"
                >Members</span
            >
            <span
                class="flex-shrink-0 rounded-full py-1 w-9 bg-gray-200 text-center font-semibold text-xs text-gray-700 hidden"
            >
            </span>
        </a>
        <a
            routerLink="tithes"
            routerLinkActive="router-link-active"
            class="flex flex-row items-center space-x-2 rounded-md -mx-3 px-2 py-2"
        >
            <span class="flex-shrink-0">
                <svg
                    class="w-8 h-8 text-gray-400 router-link-active-icon"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                    ></path>
                </svg>
            </span>
            <span
                class="flex-1 font-semibold text-base text-gray-600 router-link-active-text"
                >Tithes</span
            >
            <span
                class="flex-shrink-0 rounded-full py-1 w-9 bg-gray-200 text-center font-semibold text-xs text-gray-700 hidden"
            >
            </span>
        </a>
    </nav>
</div>

<!-- Bottom Sidebar Nav -->
<div>
    <nav class="flex flex-col space-y-3">
        <h2 class="font-semibold text-sm text-gray-400 uppercase">
            Administration
        </h2>
        <a
            href="#!"
            class="flex flex-row items-center space-x-2 rounded-md -mx-2 px-2 py-2 hover:bg-gray-100"
        >
            <span class="flex-1 font-semibold text-sm text-gray-600"
                >Organizations</span
            >
        </a>
        <a
            href="#!"
            class="flex flex-row items-center space-x-2 rounded-md -mx-2 px-2 py-2 hover:bg-gray-100"
        >
            <span class="flex-1 font-semibold text-sm text-gray-600"
                >Co-ordinating Offices</span
            >
        </a>
        <a
            href="#!"
            class="flex flex-row items-center space-x-2 rounded-md -mx-2 px-2 py-2 hover:bg-gray-100"
        >
            <span class="flex-1 font-semibold text-sm text-gray-600">Bugs</span>
        </a>
    </nav>
</div>
