<!-- Logo Area -->
<div
    class="flex-shrink-0 flex flex-row items-center justify-between px-4 py-4 w-24 lg:w-72 bg-gray-700"
>
    <img
        class="w-10 h-10 rounded-full object-cover"
        src="assets/img/logo.jpg"
        alt="lg"
    />
    <!-- src="https://images.unsplash.com/photo-1586298138296-e429125bf622?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=144&q=80" -->
    <span
        class="flex-1 ml-4 font-semibold text-base text-gray-200 font-nunito hidden lg:inline-block"
    >
        The Weslyan Sentry
    </span>
    <span class="flex-shrink-0 text-gray-200">
        <svg
            class="w-4 h-4"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"
            ></path>
        </svg>
    </span>
</div>

<!-- Navigation Area-->
<div class="flex-1 flex flex-row justify-between px-6 bg-gray-600">
    <!-- Navigation Items -->
    <div class="flex flex-row items-center">
        <nav class="flex flex-row space-x-3">
            <a
                href="#!"
                class="px-3 py-3 rounded-lg inline-block bg-gray-700 font-medium text-sm text-gray-200"
                >Notifications</a
            >
            <!--
                <a
                    href="#!"
                    class="px-3 py-3 rounded-lg inline-block font-medium text-sm text-gray-200"
                    >Customers</a
                >
            -->
            <a
                href="#!"
                class="px-3 py-3 rounded-lg inline-block font-medium text-sm text-gray-200"
                >Reporting</a
            >
            <a
                href="#!"
                class="px-3 py-3 rounded-lg inline-block font-medium text-sm text-gray-200"
                >Manage</a
            >
        </nav>
    </div>

    <!-- Controls -->
    <div class="flex flex-row items-center space-x-3">
        <div class="relative w-64">
            <span
                class="absolute inset-y-0 left-2 flex items-center text-gray-500"
            >
                <svg
                    class="absolute w-5 h-5"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                    ></path>
                </svg>
            </span>
            <input
                class="rounded-lg block pl-9 pr-4 py-3 w-full bg-gray-800 font-medium text-sm text-gray-200 placeholder-gray-300 focus:outline-none focus:bg-gray-200 focus:placeholder-gray-600 focus:text-gray-800"
                placeholder="Search"
            />
        </div>
        <span class="text-gray-200">
            <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
                ></path>
            </svg>
        </span>
        <span class="text-gray-200">
            <svg
                class="w-6 h-6"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                ></path>
            </svg>
        </span>
    </div>
</div>
