/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './assets/font/fonts.scss';

html {
    font-size: 14px;
    font-family: 'Open Sans', Nunito, sans-serif;
}

.font-open-sans {
    font-family: 'Open Sans';
}

.font-nunito {
    font-family: Nunito;
}
